#portfolio img {
  object-fit: cover;
  height: 200px; width: 200px
  opacity: 0.5
}

#portfolio img:hover {
  object-fit: cover;
  height: 210px; width: 210px
  opacity: 1.0;
}

#portfolio h5{
  position: absolute;
    top: 30%;
    left: 40%;
}

#portfolio p{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio.row{
  border-style: none
}

.jumbotron {
  background-color: rgba(165,234,255,0.3);
}

@keyframes bgFadeIn{
0%{
opacity: 0;
}
100%{
  opacity:1;
}
}

@keyframes bgFadeOut{
0%{
opacity: 1;
}
100%{
  opacity:0;
}
}

.card-img.fadeIn{
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation: bgFadeIn 2s forwards;
}

.card-img.fadeOut{
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation: bgFadeOut 2s forwards;
}
